version: "3.7"

services:
  timescaledb:
    build: "./timescale"
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    # environment:
    #   - POSTGRES_USER=my_user
    #   - POSTGRES_PASSWORD=my_password
  grafana:
    build: "./grafana"
    ports:
      - "3000:3000"
    volumes:
      - grafana_storage:/var/lib/grafana
    depends_on:
      - timescaledb
  subscriber:
    build: "./subscriber"
    # image: python_subscriber:v1
    environment:
      - PG_HOST=timescaledb
    depends_on:
      - timescaledb
      - grafana

volumes:
  postgres_data:
  grafana_storage:
