version: "3.7"

services:
  # subscriber:
  #   build: "./subscriber"
  #   image: server_subscriber:v1
  timescaledb:
    build: "./timescale"
    ports:
      - "5432:5432"
    # environment:
    #   - POSTGRES_USER=my_user
    #   - POSTGRES_PASSWORD=my_password
    # volumes:
    #   - db-data:/var/lib/postgresql/data
  # grafana:
  #   build: "./grafana"
volumes:
  db-data:
#     # external: true
